.btndeco{
    position: fixed;
    top: 1em;
    right: 1em;
}

h1{
    margin-top: 3.5em;
    margin-bottom: 2em;
    color:#ED786A;
    font-family: 'Arvo', serif;
    letter-spacing: .2em;
    text-transform: uppercase;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4em;
    color:  #777777;
    text-transform: uppercase;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4em;
    color:  #777777;
    text-transform: uppercase;
}


ul{
    list-style: none;
}

footer{
    padding-top: 3em;
    background-color: #E5E5E5; 
}

#pcitation{
    margin-top: 4.5em;
    background-image: url(../img/banner.jpg);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}

#separation{
    margin-bottom: 5em;
}

#citation{
    font-size: 1.4em;
    letter-spacing: .1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color:  #777777;
    margin-bottom: 5em;
}
